:root {
  --black: #191919;
  --white: #ffffff;
  --gray: #808080;
  --primary-color: #7fbf7f;
  --light-primary-color: #cbe5cb;
}

body {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding: 0 2rem;
  margin: auto;
  overflow: hidden;
}
