#properties .filterbox form {
  width: 100%;
  border: 1px solid var(--gray);
  position: relative;
}

#properties .filterbox form > input {
  width: 100%;
  border: none;
  padding: 0.5rem 2rem 0.5rem 1rem;
  font-size: 0.9rem;
}

#properties .filterbox form > input:focus {
  outline: none;
}

#properties .filterbox form > button {
  position: absolute;
  padding: 0.5rem;
  right: 0;
  top: 0;
  bottom: 0;
  border: none;
  background: transparent;
}

#properties .filterbox form > button > i {
  color: var(--primary-color);
}

#properties .filterbox .box {
  margin: 1rem 0;
  border: 1px solid var(--gray);
  padding: 1rem;
  border-radius: 5px;
}

#properties .filterbox h3 {
  margin-bottom: 1rem;
}

#properties .filterbox .flex {
  display: flex;
  margin: 0.5rem 0;
}

#properties .filterbox label {
  flex: 0.5;
}

#properties .filterbox input {
  flex: 2;
}
