#agent_info .active_listing {
  margin: 3rem 0;
}

#agent_info .active_listing table {
  margin: 1rem 0;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#agent_info .active_listing td,
#agent_info .active_listing th {
  text-align: left;
  padding: 8px;
}

#agent_info .active_listing th {
  color: var(--gray);
}

#agent_info .active_listing td {
  border-top: 1px solid #dddddd;
  max-height: 100px;
}

#agent_info .active_listing td a {
  color: var(--blue);
}
