#agent_info .ratings {
  margin: 3rem 0;
}

#agent_info .ratings .rating {
  border-top: 1px solid var(--gray);
  padding: 1rem 0;
}

#agent_info .ratings .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

#agent_info .ratings p {
  margin: 0.5rem 0;
}

#agent_info .ratings .top > a {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  padding: 0.7rem;
  border-radius: 5px;
  font-size: 0.9rem;
}

#agent_info .ratings .top > a:hover {
  background: var(--primary-color);
  color: var(--white);
}
