#account .account-profile .overview {
  margin: 2rem 0;
}

#account .account-profile .flex-container {
  display: flex;
  justify-content: space-between;
}

#account .account-profile .profile-img {
  display: flex;
  align-items: center;
}

#account .account-profile .picture {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background: var(--gray);
  position: relative;
}

#account .account-profile .picture a {
  position: absolute;
  left: 50%;
  margin-left: -45px;
  top: 50%;
  margin-top: -10px;
  color: var(--white);
  z-index: 3;
}

#account .account-profile .picture i {
  font-size: 0.8rem;
}

#account .account-profile .picture img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
}

#account .account-profile .edit,
#account .account-profile .info {
  border: 1px solid var(--gray);
  padding: 0.7rem;
  margin: 1rem 0;
}

#account .account-profile .edit a {
  display: inline-block;
  width: 100%;
  padding: 0.5rem;
  background: var(--primary-color);
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--white);
  font-size: 1rem;
  border-radius: 5px;
  text-align: center;
}

#account .account-profile .edit a:hover {
  background: var(--button-hover);
}

#account .account-profile .info p:first-child {
  margin-bottom: 1rem;
}

#account .account-profile .reviews-written {
  margin: 2rem 0;
  padding: 2rem 0;
}

#account .account-profile .reviews-written .btn {
  height: 40px;
  width: 120px;
  background: red;
  color: var(--white);
}

#account .account-profile .reviews-written .btn:hover {
  opacity: 0.5;
}

#account .account-profile table {
  margin: 1rem 0;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#account .account-profile td,
#account .account-profile th {
  text-align: left;
  padding: 8px;
}

#account .account-profile td {
  border-top: 1px solid #dddddd;
}

#account .account-profile td a {
  color: var(--primary-color);
}
