#register .register-form {
  text-align: center;
  background: var(--white);
  padding: 2rem 4rem;
  border-radius: 20px;
  width: 500px;
}

#register form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  color: var(--black);
}

#register form .form-group {
  margin: 0.5rem 0;
}

#register .register-form input[type="email"],
#register .register-form input[type="password"],
#register .register-form input[type="text"] {
  padding: 0.2rem;
  width: 100%;
  border: none;
  outline: none;
  background: inherit;
  border-bottom: 1px solid var(--gray);
  color: var(--black);
  font-size: 1rem;
  text-align: center;
}

#register .register-form input[type="email"]:focus,
#register .register-form input[type="password"]:focus,
#register .register-form input[type="text"]:focus {
  padding: 0.5rem;
}

/* Removing input background colour for Chrome autocomplete? */
#register .register-form input:-webkit-autofill,
#register .register-form input:-webkit-autofill:hover,
#register .register-form input:-webkit-autofill:focus,
#register .register-form input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--black);
  box-shadow: 0 0 0 30px var(--white) inset !important;
  -webkit-box-shadow: 0 0 0 30px var(--white) inset !important;
}

#register .register-form .form-group {
  position: relative;
}

#register .register-form .showpassword {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

#register .register-form label {
  color: var(--black);
  font-size: 1.1rem;
}

#register .register-form fieldset {
  border-color: var(--black);
  margin-top: 1rem;
  padding: 1rem 0;
}

#register .register-form fieldset input[type="radio"] {
  margin-right: 0.2rem;
}

#register .register-form fieldset legend {
  color: var(--black);
}

#register .register-form button[type="submit"] {
  justify-self: center;
  width: 200px;
  padding: 0.6rem 0;
  margin: 1rem 0;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  background: var(--primary-color);
  color: var(--white);
}

#register .register-form button[type="submit"]:focus {
  outline: none;
}

#register .register-form button[type="submit"]:hover {
  background: var(--button-hover);
}

#register .register-form form a {
  color: var(--black);
  position: relative;
}

#register .register-form form p {
  color: var(--black);
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

#register .register-form form p > span.danger {
  color: red;
}

#register .register-form .separate {
  display: flex;
  justify-content: center;
  align-items: center;
}

#register .register-form .line {
  height: 2px;
  width: 100px;
  background: var(--black);
  margin: 0 1rem;
}

#register .register-form form a:after {
  content: "";
  position: absolute;
  background: var(--gray);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  transition: all 0.3s cubic-bezier(0.5, 0, 0.5, 1);
}

#register .register-form form p.link:hover a:after {
  bottom: 9px;
}

#register .register-form i.fa-google {
  color: var(--primary-color);
  margin-right: 0.5rem;
}

#register .register-form form p:last-child {
  color: var(--primary-color);
}

#register .register-form form p.primary-text {
  color: var(--black);
}
