#property .property-image {
  width: 100%;
  overflow: auto;
  position: relative;
}

#property .property-image img {
  width: 100%;
}

#property .property-image h1 {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  color: rgba(000, 000, 000, 0.4);
  text-align: center;
}
