main#home {
  background: var(--black) url("../../resources/ralph-kayden-2d4lAQAlbDA-unsplash.jpg") center center/cover;
  height: 50vh;
  display: flex;
  position: relative;
}

main#home:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  pointer-events: none;
}

main#home .container {
  text-align: center;
}

main#home * {
  z-index: 10;
}

main#home form {
  position: relative;
}

main#home input {
  width: 650px;
  height: 60px;
  padding: 0.5rem 3rem 0.5rem 1rem;
  font-size: 1.1rem;
}

main#home h2 {
  color: var(--white);
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

main#home i {
  position: absolute;
  right: 10px;
  top: 30%;
  bottom: 30%;
  color: var(--primary-color);
  font-size: 1.3rem;
  cursor: pointer;
}
