header {
  padding: 1.5rem 0;
}

header > div {
  display: flex;
  justify-content: space-between;
}

header h1 > a {
  color: var(--black);
}

header h1 > a > span {
  color: var(--primary-color);
}

header section {
  display: flex;
}

header section div:nth-child(2) {
  margin: 0 1rem;
}

header section > div {
  display: flex;
  align-items: center;
}

header .icon {
  border: 2px solid var(--light-primary-color);
  padding: 0.7rem;
}

header i {
  color: var(--primary-color);
}

header .info {
  font-size: 0.9rem;
}

header section .text-gray {
  color: var(--gray);
}
