#howitworks {
  height: 70vh;
  text-align: center;
}

#howitworks .hiw-content {
  margin-top: 4rem;
}

#howitworks h4 {
  letter-spacing: 2px;
  color: var(--gray);
}

#howitworks .articles {
  margin-top: 3rem;
  display: flex;
}

#howitworks .articles h3 {
  font-size: 1.3rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

#howitworks .articles p {
  color: var(--gray);
}

#howitworks .articles i {
  font-size: 3rem;
  margin-bottom: 2rem;
}
