nav {
  background: var(--white);
  font-size: 0.9rem;
  border-bottom: 1px solid var(--gray);
}

nav > div {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul a {
  color: var(--black);
  font-size: 1rem;
}

nav ul span {
  color: var(--primary-color);
}

nav div ul:first-child li {
  padding-right: 3rem;
}

nav div ul:last-child li {
  padding-right: 2rem;
}

nav div ul:last-child li:last-child {
  background: var(--primary-color);
  height: 100%;
  padding: 1rem 2rem;
}

nav div ul:last-child li:last-child a {
  color: var(--white);
}

nav div ul:last-child li:last-child a:hover {
  color: var(--black);
}

nav ul li:hover a {
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 0.5rem;
}
